
<div class="row justify-content-center">
    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-title">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-12 mt-5">
                        <img src="https://develop.thisisathens.org/images/Composite_eata_gr_logo.png" alt="Δήμος Αθηναίων">
                    </div>
                    <div class="col-md-7 col-12 mt-5">
                        <ng-container class="justify-content-right mt-4">
                            <div class="h4 text-center">Open Social Net</div>
                            <div class="h5 text-center text-secondary">Δίκτυο Κοινωνικής Προστασίας της Αθήνας</div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-11 col-12 font-weight-bolder text-center serif-font">
                        <h2>Στοιχεία Οφελούμενου</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11 serif-font">
                        <hr>
                        <p class="h5 font-weight-bold">ΠΡΟΣΩΠΙΚΑ ΣΤΟΙΧΕΙΑ</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 h5 justify-content-center">
                          <table class="m-2" style="width: 100%">
                              <tr>
                                  <td class="text-dark font-weight-bold" style="width: 50%">ΟΝΟΜΑ: </td>
                                  <td style="width: 50%" class="text-secondary">ΒΑΣΙΛΕΙΟΣ</td>
                              </tr>
                              <tr>
                                  <td class="text-dark font-weight-bold" style="width: 50%">ΕΠΙΘΕΤΟ: </td>
                                  <td style="width: 50%" class="text-secondary">ΓΕΩΡΓΟΥΛΑΣ</td>
                              </tr>
                              <tr>
                                  <td class="text-dark font-weight-bold" style="width: 50%">ΦΥΛΟ: </td>
                                  <td style="width: 50%" class="text-secondary">ΑΡΡΕΝ</td>
                              </tr>
                              <tr>
                                  <td class="text-dark font-weight-bold" style="width: 50%">ΕΤΟΣ ΓΕΝΝΗΣΗΣ: </td>
                                  <td style="width: 50%" class="text-secondary">1975</td>
                              </tr>
                              <tr>
                                  <td class="text-dark font-weight-bold" style="width: 50%">ΑΜΚΑ: </td>
                                  <td style="width: 50%" class="text-secondary">23567845623</td>
                              </tr>
                              <tr>
                                  <td class="text-dark font-weight-bold" style="width: 50%">ΑΦΜ: </td>
                                  <td style="width: 50%" class="text-secondary">164390768</td>
                              </tr>
                              <tr>
                                  <td class="text-dark font-weight-bold" style="width: 50%">ΤΑΥΤΟΤΗΤΑ/ΔΙΑΒΑΤΗΡΙΟ </td>
                                  <td style="width: 50%" class="text-secondary">ΑΒ1246854</td>
                              </tr>
                          </table>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11 serif-font">
                        <hr>
                        <p class="h5 font-weight-bold">ΣΤΟΙΧΕΙΑ ΓΟΝΕΩΝ</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 h5 justify-content-center">
                        <table class="m-2" style="width: 100%">
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">ΟΝΟΜΑ ΠΑΤΡΟΣ: </td>
                                <td style="width: 50%" class="text-secondary">ΑΘΑΝΑΣΙΟΣ</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">ΕΠΙΘΕΤΟ ΠΑΤΡΟΣ: </td>
                                <td style="width: 50%" class="text-secondary">ΓΕΩΡΓΟΥΛΑΣ</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">ΓΕΝΟΣ ΜΗΤΕΡΑΣ: </td>
                                <td style="width: 50%" class="text-secondary">ΛΑΦΙΑ</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11 serif-font">
                        <hr>
                        <p class="h5 font-weight-bold">ΛΟΙΠΑ ΣΤΟΙΧΕΙΑ</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 h5 justify-content-center">
                        <table class="m-2" style="width: 100%">
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">ΔΙΕΥΘΥΝΣΗ: </td>
                                <td style="width: 50%" class="text-secondary">ΡΟΔΙΤΣΑΣ 23</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">ΠΟΛΗ: </td>
                                <td style="width: 50%" class="text-secondary">ΛΑΜΙΑ</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">ΤΚ: </td>
                                <td style="width: 50%" class="text-secondary">35100</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">ΤΗΛΕΦΩΝΟ 1ο</td>
                                <td style="width: 50%" class="text-secondary">2231012356</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">ΤΗΛΕΦΩΝΟ 2ο</td>
                                <td style="width: 50%" class="text-secondary">6946453489</td>
                            </tr>
                            <tr>
                                <td class="text-dark font-weight-bold" style="width: 50%">Email</td>
                                <td style="width: 50%" class="text-secondary">aa@aa.com</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-outline-primary btn-block mb-75" rippleEffect>
                    Λήψη Εγγράφου
                    <i [data-feather]="'download'"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-block mb-75" rippleEffect>
                    Εκτύπωση Εγγράφου
                    <i [data-feather]="'printer'"></i>
                </button>
            </div>
        </div>
    </div>
</div>




