<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <ng-container>
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <h2 class="content-header-title float-left mb-0">
                                Λίστα Ωφελούμενων
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- Table Basic -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            <button class="btn btn-primary ml-2" routerLink="/app/beneficiary/add" rippleEffect>Προσθήκη Ωφελούμενου</button>
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ονομ/νυμο</th>
                                <th>ΑΜΚΑ</th>
                                <th>Εθνικοτητα</th>
                                <th>Ενεργός</th>
                                <th>Ενεργειες</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let beneficiary of beneficiaries | slice: (current_page - 1) * 10 : current_page * 10; let x = index">
                                <td>
                                    <span class="font-weight-bold">{{beneficiary?.lastname}} {{beneficiary?.firstname}}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold">{{beneficiary?.amka}}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold">{{beneficiary?.nationality}}</span>
                                </td>
                                <td>
                                    <form [formGroup]="listForm">
                                        <div class="custom-control custom-switch" formArrayName="listArray">
                                            <div [formGroupName]="x">
                                                <input type="checkbox" class="custom-control-input" id="switch{{x}}" (change)="onChange($event, x)" formControlName="enabled">
                                                <label class="custom-control-label" for="switch{{x}}">
                                                    <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                    <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="overflow-hidden">
                                    <div ngbDropdown container="body">
                                        <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                                            <i [data-feather]="'more-horizontal'"></i>
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a ngbDropdownItem [routerLink]="['/app/beneficiary/edit']" [queryParams]="{id: beneficiary?.recid}">
                                                <i data-feather="edit-2" class="mr-50"></i>
                                                <span>Επεξεργασία</span>
                                            </a>
                                            <a ngbDropdownItem href="javascript:void(0);">
                                                <i data-feather="trash" class="mr-50"></i>
                                                <span>Διαγραφή</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf = "beneficiaries?.length === 0">
                                <span class="p-4 text-warning">δεν βρέθηκαν αποτελέσματα</span>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>
                                    <ngb-pagination [collectionSize]="beneficiaries?.length" [(page)] = 'current_page' ></ngb-pagination>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    Σύνολο εγγραφών: {{beneficiaries?.length}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
