<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <ng-container>
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <h2 class="content-header-title float-left mb-0">
                                Λίστα Ωφελούμενων
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- Table Basic -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row justify-content-center">
                                <div class="col-md-9 col-12">
                                    <button class="btn btn-primary ml-2" routerLink="/app/beneficiary/add" rippleEffect>Προσθήκη Ωφελούμενου</button>
                                </div>
                                <div class="col-md-3 col-12">
                                    <label class="d-flex align-items-center">
                                        Αναζήτηση
                                        <input
                                            type="search"
                                            placeholder="Αναζήτηση"
                                            class="form-control text-uppercase ml-25"
                                            (keyup)="filterUpdate($event)"
                                            (search)="filterUpdate($event)">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ονομ/νυμο</th>
                                <th>ΑΜΚΑ</th>
                                <th>Εθνικοτητα</th>
                                <th>Ενεργός</th>
                                <th>Ενεργειες</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let beneficiary of matchingResults | slice: (current_page - 1) * 10 : current_page * 10;
                                        let x = index" [ngClass]="{'text-disabled': !beneficiary.enabled}">
                                <td>
                                    <span class="font-weight-bold">{{beneficiary?.lastname}} {{beneficiary?.firstname}}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold">{{beneficiary?.amka}}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold">{{beneficiary?.nationality}}</span>
                                </td>
                                <td>
                                    <form [formGroup]="listForm">
                                        <div class="custom-control custom-switch" formArrayName="listArray">
                                            <div [formGroupName]="x">
                                                <input type="checkbox" class="custom-control-input" id="switch{{x}}" (change)="onChange($event, x)" formControlName="enabled">
                                                <label class="custom-control-label" for="switch{{x}}">
                                                    <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                    <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="overflow-hidden">
                                    <div ngbDropdown container="body">
                                        <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                                            <i [data-feather]="'more-horizontal'"></i>
                                        </button>
                                        <div ngbDropdownMenu>
                                            <a ngbDropdownItem [routerLink]="['/app/beneficiary/preview', beneficiary?.recid]">
                                                <i data-feather="file-text" class="mr-50"></i>
                                                <span>Προβολή</span>
                                            </a>
                                            <a ngbDropdownItem [routerLink]="['/app/beneficiary/edit', beneficiary?.recid]">
                                                <i data-feather="edit" class="mr-50"></i>
                                                <span>Επεξεργασία</span>
                                            </a>

                                            <a ngbDropdownItem href="javascript:void(0);">
                                                <i data-feather="trash" class="mr-50"></i>
                                                <span>Διαγραφή</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf = "matchingResults?.length === 0">
                                <span class="p-4 text-warning">δεν βρέθηκαν αποτελέσματα</span>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td>
                                    <ngb-pagination [collectionSize]="matchingResults?.length" [(page)] = 'current_page' ></ngb-pagination>
                                </td>
                                <td></td>
                                <td>
                                    <ng-container  *ngIf="isLoading">
                                        <p class="text-center">Περιμένετε.....</p>
                                        <div class="row justify-content-center">
                                            <div class="spinner-border mr-50" style="width: 3rem; height: 3rem" role="status"></div>
                                        </div>
                                    </ng-container>
                                </td>
                                <td></td>
                                <td>
                                    Σύνολο εγγραφών: {{matchingResults?.length}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

